<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

    <div class="flex items-center bg-indigo-100 w-screen min-h-screen" style="font-family: 'Muli', sans-serif;">
        <div class="container ml-auto mr-auto flex flex-wrap items-start">
            <div class="w-full pl-5 lg:pl-2 mb-4 mt-4">
                <h1 class="text-3xl lg:text-4xl text-gray-700 font-extrabold p-4">
                    Affidavits
                </h1>
            </div>
            <div class="w-full md:w-1/2 lg:w-1/4 pl-5 pr-5 mb-5 lg:pl-2 lg:pr-2">
                <div
                    class="bg-white rounded-lg m-h-64 p-2 transform hover:translate-y-2 hover:shadow-xl transition duration-300">
                    <figure class="mb-2">
                        <img src="static/images/5.png" alt=""
                            class="h-64 ml-auto mr-auto" />
                    </figure>
                    <div class="rounded-lg p-4 bg-purple-700 flex flex-col">
                        <div>
                            <h5 class="text-white text-2xl font-bold leading-none">
                                Affidavit 1
                            </h5>
                            <span class="text-xs text-gray-400 leading-none">For Creation of New Password or Forgetten
                                Password</span>
                        </div>
                        <div class="flex items-center">
                            <div class="text-lg text-white font-light">
                                Generate Here
                            </div>
                            <button id="a1"
                                class="rounded-full bg-purple-900 text-white hover:bg-white hover:text-purple-900 hover:shadow-xl focus:outline-none w-10 h-10 flex ml-auto transition duration-300">
                                <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
                                    clip-rule="evenodd" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="stroke-current m-auto">
                                    <path
                                        d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-full md:w-1/2 lg:w-1/4 pl-5 pr-5 mb-5 lg:pl-2 lg:pr-2">
                <div class="bg-white rounded-lg m-h-64 p-2 transform hover:translate-y-2 hover:shadow-xl transition duration-300">
                  <figure class="mb-2">
                    <img src="static/images/6.png" alt="" class="h-64 ml-auto mr-auto" />
                  </figure>
                  <div class="rounded-lg p-4 bg-purple-700 flex flex-col">
                    <div>
                      <h5 class="text-white text-2xl font-bold leading-none">
                        Affidavit 2
                      </h5>
                      <span class="text-xs text-gray-400 leading-none">For the Application submitted under Chapter 1/ 2/ 5</span>
                    </div>
                    <div class="flex items-center">
                      <div class="text-lg text-white font-light">
                        Generate Here
                      </div>
                      <button id="a2" class="rounded-full bg-purple-900 text-white hover:bg-white hover:text-purple-900 hover:shadow-xl focus:outline-none w-10 h-10 flex ml-auto transition duration-300">
                        <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="stroke-current m-auto"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/></svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="w-full md:w-1/2 lg:w-1/4 pl-5 pr-5 mb-5 lg:pl-2 lg:pr-2">
                <div class="bg-white rounded-lg m-h-64 p-2 transform hover:translate-y-2 hover:shadow-xl transition duration-300">
                  <figure class="mb-2">
                    <img src="static/images/7.png" alt="" class="h-64 ml-auto mr-auto" />
                  </figure>
                  <div class="rounded-lg p-4 bg-purple-700 flex flex-col">
                    <div>
                      <h5 class="text-white text-2xl font-bold leading-none">
                        Affidavit 3
                      </h5>
                      <span class="text-xs text-gray-400 leading-none">For the Progressive and complete closure of the institution</span>
                    </div>
                    <div class="flex items-center">
                      <div class="text-lg text-white font-light">
                        Generate Here
                      </div>
                      <button id="a3" class="rounded-full bg-purple-900 text-white hover:bg-white hover:text-purple-900 hover:shadow-xl focus:outline-none w-10 h-10 flex ml-auto transition duration-300">
                        <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="stroke-current m-auto"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/></svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="w-full md:w-1/2 lg:w-1/4 pl-5 pr-5 mb-5 lg:pl-2 lg:pr-2">
                <div class="bg-white rounded-lg m-h-64 p-2 transform hover:translate-y-2 hover:shadow-xl transition duration-300">
                  <figure class="mb-2">
                    <img src="static/images/8.png" alt="" class="h-64 ml-auto mr-auto" />
                  </figure>
                  <div class="rounded-lg p-4 bg-purple-700 flex flex-col">
                    <div>
                      <h5 class="text-white text-2xl font-bold leading-none">
                        Affidavit 4
                      </h5>
                      <span class="text-xs text-gray-400 leading-none">For the Relese of Security Deposits(Secure Releasae of Deposits)</span>
                    </div>
                    <div class="flex items-center">
                      <div class="text-lg text-white font-light">
                        Generate Here
                      </div>
                      <button id="a4" class="rounded-full bg-purple-900 text-white hover:bg-white hover:text-purple-900 hover:shadow-xl focus:outline-none w-10 h-10 flex ml-auto transition duration-300">
                        <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="stroke-current m-auto"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/></svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
    </div>
    <script src="/static/js/affidavit.js"></script>
</body>

</html>